table {
    border: 1px solid white;
    table-layout: fixed;
    right: auto;
    overflow: auto;
    margin-bottom: 15px;;
}

td {
    border: 1px solid #c6bdbd;
    overflow: hidden;
    width: 1px;
}
th{
  display: none;
}

.pixel {
  width:1px; 
  height:1px;
  max-width:2px;
  min-width:2px; 
  max-height:1px; 
  min-height:1px;
}

#row-table {
  bottom: 13px;
}

#tabel-container {
  overflow: auto;
}

.container-footer{
  background-color: #737373;
  height: 50px;
  padding: 20px;
  margin-top: 78px;
  margin-right: 1px;
  margin-left: 1px;
  height: 80px;

}




